<div class="component__inner timeline__inner">
  {{> component this}} 

 <div class="timeline__main">

   <div class="timeline__items" >
     
    {{#each _items}}
      <div class="timeline__widget">
        <div class="timeline__item-title">{{title}}</div>
        <div class="timeline__item-body">{{{body}}}</div>
        {{#if _image}} <img class="timeline__item-image" src={{{_image}}} {{#if alt}}aria-label="{{alt}}"{{else}}aria-hidden="true"{{/if}} />{{/if}}
      </div>
    {{/each}}

  </div>

  </div> 

</div>
